a,
a:focus,
a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

#importante header {
    margin-bottom: 3rem;
}

nav button {
    padding: var(--nav-link-spacing-vertical) var(--nav-link-spacing-horizontal) !important;
}