.nowrap {
    white-space: nowrap;
}

.pa10 {
    padding: 10px;
}

.pa15 {
    padding: 15px;
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 97;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.transparent,
.transparent:focus,
.transparent:hover {
    background: transparent;
    border: 0 !important;
    box-shadow: none;
    color: var(--primary);
    display: inline-block;
    font-size: .8335rem;
    padding: 0;
    width: unset;
}

.va-sub {
    vertical-align: sub;
}