.column {
    float: left;
}

#grid {
    margin: 0;
    width: 100%;
}

#grid[data-columns]::before {
    color: transparent;
}

.size-1of1 {
    width: 100%;
}

.size-1of2 {
    margin: 0 12.5px;
    width: calc(50% - 25px);
}

.size-1of3 {
    margin: 0 12.5px;
    width: calc(33.333% - 25px);
}

.size-1of4 {
    margin: 0 12.5px;
    width: calc(25% - 25px);
}

.size-1of5 {
    margin: 0 12.5px;
    width: calc(20% - 25px);
}

@media (max-width:972px) {
    #grid[data-columns]::before {
        content: '';
    }
    main {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

@media (min-width:973px) and (max-width:1446px) {
    #grid[data-columns]::before {
        content: '2 .column.size-1of2';
    }
}

@media (min-width:1447px) and (max-width:1920px) {
    #grid[data-columns]::before {
        content: '3 .column.size-1of3';
    }
}

@media (min-width:1921px) and (max-width:2394px) {
    #grid[data-columns]::before {
        content: '4 .column.size-1of4';
    }
}

@media (min-width:2395px) {
    #grid[data-columns]::before {
        content: '5 .column.size-1of5';
    }
}