aside {
    background: var(--primary-inverse);
    box-shadow: var(--card-shadow);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 98;
    height: 100%;
    width: 235px;
    overflow-y: auto;
}

aside a img,
aside button img {
    margin-right: 10px;
}

aside h6 {
    padding: 15px 20px 5px 15px;
}

aside .sub {
    align-items: flex-start;
    display: flex;
    font-size: smaller;
    padding: 0 10px 10px 15px;
}

aside .sub a {
    display: block;
    padding: 0 10px 10px 10px;
}

aside .sub img {
    vertical-align: top;
}

aside a[role="button"],
aside button {
    margin: 5px 10px;
    padding: 10px 0;
    width: calc(100% - 20px);
}

aside [src*="s.corner-down-right.svg"] {
    margin-left: 10px;
}