.dropimage {
    border: 3px dashed #999;
    min-height: 150px;
    position: relative;
    width: 100%;
}

.dropimage:before {
    color: #999;
    content: "+";
    font-size: 72px;
    position: absolute;
    left: 50%;
    top: calc(50% - 5px);
    transform: translate(-50%, -50%);
}

.dropimagehover:before,
.dropnocontent:before {
    content: "";
}

.dropnocontent:hover:before {
    content: "+";
}

.dropimage.dropnocontent button,
.dropimage.dropnocontent .quitar {
    background: var(--background-color);
    position: absolute;
    right: -15px;
    top: -15px;
}

.dropimage.dropnocontent button img {
    background: #fff;
}

.dropimage:not(.dropnocontent) button,
.dropimage:not(.dropnocontent) .quitar {
    display: none;
}

.dropimage input {
    border: 0;
    height: 100% !important;
    left: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    width: 100%;
}

.dropimage img {
    display: block;
    width: 100%;
}

.tr-15 {
    position: absolute;
    right: -15px;
    top: -15px;
}